@media only screen and (max-width: 991px) {
    .s_c {
        padding-top: 40px;
    }
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}